td {
	border: 3px solid #333;
	height: 100px;
	width: 100px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	font-size: 50px;
}

table {
	border-collapse: collapse;
}

#endGameText {
	display: none;
	font-size: 20px;
}