
#dialog {
	width: 400px;
	height: 400px;
	background-color: white;
	padding: 3px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	display: none;
	position: absolute;
}

#top-bar {
	width: 100%;
	height: 27px;
	background-color: #BBB;
	display: inline-block;
	cursor: move;
}

#close-button {
	float: right;
	height: 100%;
}

#top-bar > span {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 15px;
	padding-left: 10px;
	height: 100%;
	line-height: 30px;
}

#content {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	padding: 10px;
}